DBNAME="database name"
DBUSER="database user"
DBPASS="database password"
DBHOST="database host"
DBDRIVER="pdo_mysql"

ROOTDIR="/www/htdocs/xxx/dev/"

# Debugmodes, sum up all desired modes
## 0 = none
## 1 = debug logging
## 2 = display errors
## 4 = no twig cache
## 8 = show profiling
DEBUGMODES=0

TKAPIKEY="Tankerkoenig api key"  # from https://creativecommons.tankerkoenig.de/
COMMODITIESAPIKEY="Commodities api key"  # from https://www.commodities-api.com/

LOCATIONLAT="latitude"
LOCATIONLNG="longtitude"

C001_IFTTT_URL="IFTTT push url"
C001_WHAPP_PHONE="phone number"
C001_WHAPP_APIK="CallMeBot key"
